SCHEMATIC START ;
// created by map version E.35 on Fri Oct 10 11:51:54 2008 
COMP "write" LOCATE = SITE "P86" LEVEL 1; 
COMP "switch_data4<7>" LOCATE = SITE "P70" LEVEL 1; 
COMP "switch_data4<6>" LOCATE = SITE "P69" LEVEL 1; 
COMP "switch_data4<5>" LOCATE = SITE "P68" LEVEL 1; 
COMP "switch_data4<4>" LOCATE = SITE "P67" LEVEL 1; 
COMP "switch_data4<3>" LOCATE = SITE "P66" LEVEL 1; 
COMP "switch_data4<2>" LOCATE = SITE "P65" LEVEL 1; 
COMP "switch_data4<1>" LOCATE = SITE "P62" LEVEL 1; 
COMP "switch_data4<0>" LOCATE = SITE "P61" LEVEL 1; 
COMP "switch_data3<7>" LOCATE = SITE "P60" LEVEL 1; 
COMP "switch_data3<6>" LOCATE = SITE "P59" LEVEL 1; 
COMP "switch_data3<5>" LOCATE = SITE "P58" LEVEL 1; 
COMP "switch_data3<4>" LOCATE = SITE "P57" LEVEL 1; 
COMP "switch_data3<3>" LOCATE = SITE "P56" LEVEL 1; 
COMP "switch_data3<2>" LOCATE = SITE "P55" LEVEL 1; 
COMP "switch_data3<1>" LOCATE = SITE "P54" LEVEL 1; 
COMP "switch_data3<0>" LOCATE = SITE "P53" LEVEL 1; 
COMP "switch_data2<7>" LOCATE = SITE "P47" LEVEL 1; 
COMP "switch_data2<6>" LOCATE = SITE "P46" LEVEL 1; 
COMP "switch_data2<5>" LOCATE = SITE "P45" LEVEL 1; 
COMP "switch_data2<4>" LOCATE = SITE "P44" LEVEL 1; 
COMP "switch_data2<3>" LOCATE = SITE "P43" LEVEL 1; 
COMP "switch_data2<2>" LOCATE = SITE "P42" LEVEL 1; 
COMP "switch_data2<1>" LOCATE = SITE "P41" LEVEL 1; 
COMP "switch_data2<0>" LOCATE = SITE "P40" LEVEL 1; 
COMP "switch_data1<7>" LOCATE = SITE "P39" LEVEL 1; 
COMP "switch_data1<6>" LOCATE = SITE "P35" LEVEL 1; 
COMP "switch_data1<5>" LOCATE = SITE "P34" LEVEL 1; 
COMP "switch_data1<4>" LOCATE = SITE "P33" LEVEL 1; 
COMP "switch_data1<3>" LOCATE = SITE "P32" LEVEL 1; 
COMP "switch_data1<2>" LOCATE = SITE "P31" LEVEL 1; 
COMP "switch_data1<1>" LOCATE = SITE "P29" LEVEL 1; 
COMP "switch_data1<0>" LOCATE = SITE "P27" LEVEL 1; 
COMP "solenoid_2" LOCATE = SITE "P93" LEVEL 1; 
COMP "solenoid_1" LOCATE = SITE "P92" LEVEL 1; 
COMP "read" LOCATE = SITE "P87" LEVEL 1; 
COMP "master_clock_out" LOCATE = SITE "P73" LEVEL 1; 
COMP "master_clock" LOCATE = SITE "P2" LEVEL 1; 
COMP "logic_reset" LOCATE = SITE "P98" LEVEL 1; 
COMP "i_odim4" LOCATE = SITE "P95" LEVEL 1; 
COMP "i_odim3" LOCATE = SITE "P96" LEVEL 1; 
COMP "i_odim2" LOCATE = SITE "P94" LEVEL 1; 
COMP "i_odim1" LOCATE = SITE "P97" LEVEL 1; 
COMP "hb" LOCATE = SITE "P21" LEVEL 1; 
COMP "Bin4" LOCATE = SITE "P20" LEVEL 1; 
COMP "Bin3" LOCATE = SITE "P18" LEVEL 1; 
COMP "Bin2" LOCATE = SITE "P16" LEVEL 1; 
COMP "Bin1" LOCATE = SITE "P14" LEVEL 1; 
COMP "ale" LOCATE = SITE "P99" LEVEL 1; 
COMP "Ain4" LOCATE = SITE "P19" LEVEL 1; 
COMP "Ain3" LOCATE = SITE "P17" LEVEL 1; 
COMP "Ain2" LOCATE = SITE "P15" LEVEL 1; 
COMP "Ain1" LOCATE = SITE "P13" LEVEL 1; 
COMP "add_data<7>" LOCATE = SITE "P3" LEVEL 1; 
COMP "add_data<6>" LOCATE = SITE "P4" LEVEL 1; 
COMP "add_data<5>" LOCATE = SITE "P5" LEVEL 1; 
COMP "add_data<4>" LOCATE = SITE "P6" LEVEL 1; 
COMP "add_data<3>" LOCATE = SITE "P7" LEVEL 1; 
COMP "add_data<2>" LOCATE = SITE "P8" LEVEL 1; 
COMP "add_data<1>" LOCATE = SITE "P9" LEVEL 1; 
COMP "add_data<0>" LOCATE = SITE "P10" LEVEL 1; 
SCHEMATIC END ;
